@import '../../assets/fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #D1C368;
}

@media (max-width: 1090px) {
  body {
    flex-direction: column;
    align-items: center;
  }

  .menu-acoes,
  .painel-resultados {
    width: 50% !important;
  }

  .menu-acoes,
  .mapa-container,
  .painel-resultados {
    position: relative !important;
    justify-content: center;
  }
}

.menu-acoes,
.painel-resultados {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: fixed;
  margin: 0px 20px;
}

.menu-acoes {
  left: 0;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'REGGAE ONE';
  color: #FFF;
  background-color: #7B79C6;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6765A6;
}

a {
  text-decoration: none;
}

.mapa-container {
  display: flex;
  flex-direction: column;
}

.titulo {
  font-family: 'HYLIA SERIF';
  padding: 20px 0px;
  color: #c1232d;
  text-align: center;
}

.mapa-container .titulo {
  padding: 0px 0px 20px 0px;
}

.mapa-dungeon-container {
  display: grid;
  grid-template-columns: repeat(28, 13px);
  grid-template-rows: repeat(28, 13px);
  border-collapse: collapse;
  border-spacing: 0;
}
  
.mapa-linha {
  display: block;
}

.mapa-celula {
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  line-height: 7px;
}

.mapa-celula:not(:last-child) {
  border-right: none; 
}

.mapa-linha:not(:last-child) .mapa-celula {
  border-bottom: none;
}

.mapa-celula:last-of-type {
  border-right: none;
}

.mapa-linha:last-of-type .mapa-celula {
  border-bottom: none;
  border-right: 1px solid #000;
}